@using System.Collections.Generic;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IReadOnlyCollection<Codestellation.Galaxy.Domain.ServiceApp>>
@{ Layout = "Master";}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Services</h3>
        </div>
        <ul class="list-group">
            
            @if (Model.Count == 0)
            {
                <li class="list-group-item">Add service</li>
            }

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Display name</th>
                        <th>Service name</th>
                        <th>Assembly-qualified type name</th>
                        <th>Feed name</th>
                        <th>Package name</th>
                        <th>Status</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-link="row" class="rowlink">
                    @foreach (var serviceApp in Model)
                    {
                        <tr>
                            <td>
                                <form action="/service/edit/@serviceApp.Id" method="GET">
                                    <input type="submit" class="btn btn-primary btn-xs" value="Edit" />
                                </form>
                            </td>
                            <td><a href="/service/details/@serviceApp.Id">@serviceApp.DisplayName</a></td>
                            <td>@serviceApp.ServiceName</td>
                            <td>@serviceApp.AssemblyQualifiedType</td>
                            <td>@serviceApp.FeedName</td>
                            <td>@serviceApp.PackageName</td>
                            <td>@serviceApp.Status</td>
                            <td>@serviceApp.Description</td>
                            <td>
                                <form action="/service/delete/@serviceApp.Id" method="POST">
                                    <input type="submit" class="btn btn-danger btn-xs" value="Delete" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </ul>
        <div class="panel-footer">
            <a class="btn btn-success" href="/service/create">New</a>
        </div>
    </div>
</div>

