@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.Domain.ServiceApp[]>
@{ Layout = "Master";}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Services</h3>
        </div>
        <ul class="list-group">
            
            @if (Model.Length == 0)
            {
                <li class="list-group-item">Add service</li>
            }

            @foreach (var serviceApp in Model)
            {
                <a href="service/edit/@serviceApp.Id" class="list-group-item">
                    <h4 class="list-group-item-heading">@serviceApp.DisplayName [@serviceApp.ServiceName: @serviceApp.AssemblyQualifiedType] </h4>
                    <h5>feed\package: @serviceApp.FeedName \ @serviceApp.PackageName</h5>
                    <h6 class="list-group-item-heading">@serviceApp.Description</h6>
                    <form action="/service/delete/@serviceApp.Id" method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </form>
                </a>
            }
        </ul>
        <div class="panel-footer">
            <a class="btn btn-success" href="/service/create">New</a>
        </div>
    </div>
</div>

