@using System.Linq
@using Codestellation.Galaxy.WebEnd
@using Codestellation.Galaxy.WebEnd.Misc
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.DeploymentModel>
@{ Layout = "Master";}
<div class="row">
    <div class="container  col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @Model.DisplayName
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Service Name</td><td>@Model.ServiceName</td>
                    </tr>
                    <tr>
                        <td>Description</td><td>@Model.Description </td>
                    </tr>
                    <tr>
                        <td>Feed</td><td>@Model.FeedName</td>
                    </tr>
                    <tr>
                        <td>Service Type</td><td>@Model.AssemblyQualifiedType</td>
                    </tr>
                    <tr>
                        <td>Status</td><td>@Model.Status</td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="container col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Deploy
            </div>
            <div class="panel-body">
                <form role="form" action="/@DeploymentModule.Path/deploy/@Model.Id" method="POST">
                    <p>@Html.DropDownList(x => x.PackageVersion, Model.PackageVersions)</p>
                    <p><input type="submit" class="btn btn-primary btn-sm" value="Deploy" /></p>
                </form>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                Tasks
            </div>
            <table class="table">
                <tr>
                    <td>
                        <form action="/@DeploymentModule.Path/install/@Model.Id" method="POST">
                            <input type="submit" class="btn btn-primary btn-sm" value="Install" />
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>
                        <form action="/@DeploymentModule.Path/start/@Model.Id" method="POST">
                            <input type="submit" class="btn btn-primary btn-sm" value="Start" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/@DeploymentModule.Path/stop/@Model.Id" method="POST">
                            <input type="submit" class="btn btn-primary btn-sm" value="Stop" />
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>
                        <form action="/@DeploymentModule.Path/uninstall/@Model.Id" method="POST">
                            <input type="submit" class="btn btn-primary btn-sm" value="Uninstall" />
                        </form>
                    </td>
                </tr>
            </table>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</div>
