@using System.Linq
@using Codestellation.Galaxy.WebEnd
@using Codestellation.Galaxy.WebEnd.Misc
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.DeploymentModel>
@{ Layout = "Master";}
<style>
    .inner_table {
        width: 100%;
        border-spacing: 5px;
        border-collapse: separate;
        table-layout: fixed;
    }
</style>

<div class="row">
    <div class="container  col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @Model.DisplayName
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Service Name</td>
                        <td>@Model.ServiceName</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>@Model.Description </td>
                    </tr>
                    <tr>
                        <td>Feed</td>
                        <td>@Model.FeedName</td>
                    </tr>
                    <tr>
                        <td>Service Type</td>
                        <td>@Model.AssemblyQualifiedType</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>@Model.Status</td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">

            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                Diagnostics
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td><a href="/@DeploymentModule.Path/build-log/@Model.Id">View Build Logs</a></td>
                    </tr>
                    <tr>
                        <td>State: @Model.State</td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="container col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Deployment
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    @if (string.IsNullOrEmpty(Model.ConfigFileContent))
                    {
                        <div class="alert alert-danger" style="margin-bottom: 0px;">
                            <p>Upload config file!</p>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-success" style="margin-bottom: 0px;">
                            <p>Upload config file to update the <a href="/@DeploymentModule.Path/config/@Model.Id">existing</a>.</p>
                        </div>
                    }
                </li>
                <li class="list-group-item">
                    <form enctype="multipart/form-data" method="POST" action="/@DeploymentModule.Path/config/@Model.Id">
                        <table class="inner_table">
                            <colgroup>
                                <col>
                                <col width="20%">
                            </colgroup>
                            <tr>
                                <td>
                                    <input type="file" name="configfile" title="Browse for config file...">
                                </td>
                                <td>
                                    <input type="submit" value="Upload" id="submit" class="btn btn-primary btn-sm btn-block" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </li>
                <li class="list-group-item">

                    <table class="inner_table">
                        <colgroup>
                            <col width="60%"/>
                            <col/>
                            <col/>
                        </colgroup>
                        <tr>
                            <td>
                                @Html.NoLabelDropDown(x => x.PackageVersion, Model.PackageVersions)
                            </td>
                            <td>
                                <button id="btn-deploy" type="button" class="btn btn-primary btn-sm btn-block">Deploy</button>
                            </td>
                            <td>
                                <button id="btn-update" type="button" class="btn btn-primary btn-sm btn-block">Update</button>
                            </td>
                        </tr>
                    </table>

                </li>
            </ul>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                Tasks
            </div>
            <table class="table">
                <tr>
                    <td>
                        <form action="/@DeploymentModule.Path/install/@Model.Id" method="POST">
                            <input type="submit" class="btn btn-primary btn-sm" value="Install" />
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>
                        <form action="/@DeploymentModule.Path/start/@Model.Id" method="POST">
                            <input type="submit" class="btn btn-primary btn-sm" value="Start" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/@DeploymentModule.Path/stop/@Model.Id" method="POST">
                            <input type="submit" class="btn btn-primary btn-sm" value="Stop" />
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>
                        <form action="/@DeploymentModule.Path/uninstall/@Model.Id" method="POST">
                            <input type="submit" class="btn btn-primary btn-sm" value="Uninstall" />
                        </form>
                    </td>
                </tr>
            </table>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('input[type=file]').bootstrapFileInput();
        $('.file-inputs').bootstrapFileInput();

        var version = $('select[name=PackageVersion]');

        $('#btn-update')
            .click(function () {
                $.ajax({
                    url: '/@DeploymentModule.Path/update/@Model.Id/' + version.val(),
                    type: 'POST'
                });
            });

        $('#btn-deploy')
            .click(function () {
                $.ajax({
                    url: '/@DeploymentModule.Path/deploy/@Model.Id/' + version.val(),
                    type: 'POST'
                });
            });
    });
</script>
