@using System.Linq
@using Codestellation.Galaxy.ServiceManager
@using Codestellation.Galaxy.WebEnd
@using Codestellation.Galaxy.WebEnd.Misc
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.DeploymentManangement.DeploymentModel>
@{ Layout = "Master";}

<div class="panel panel-primary">
    <div class="panel-heading">
        @Model.DisplayName
    </div>
    <table class="table">
        <tbody>
        <tr>
            <td>Service</td>
            <td>@Model.PackageId</td>
        </tr>
        <tr>
            <td>Instance</td>
            <td>@Model.InstanceName</td>
        </tr>
        <tr>
            <td>Feed</td>
            <td>@Model.FeedName</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>@Model.Status</td>
        </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <div class="btn-group">
            <a class="btn btn-primary" href="/@DeploymentModule.Path/edit/@Model.Id">Edit</a>
        </div>
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        Deployment
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="container col-lg-6">
                    @Html.NoLabelDropDown(x => x.PackageVersion, Model.PackageVersions)
                </div>
                <div class="btn-group">
                    <button id="btn-deploy" type="button" class="btn btn-primary">Deploy</button>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <button class="btn btn-primary" type="button" value="/@DeploymentModule.Path/@DeploymentModule.TaskPath?task=@Templates.Start&id=@Model.Id&ForceStartService=true">Start</button>
        </li>
        <li class="list-group-item">
            <button class="btn btn-primary" type="button" value="/@DeploymentModule.Path/@DeploymentModule.TaskPath?task=@Templates.Stop&id=@Model.Id">Stop</button>
        </li>
        <li class="list-group-item">
            <button class="btn btn-primary" type="button" value="/@DeploymentModule.Path/@DeploymentModule.TaskPath?task=@Templates.Install&id=@Model.Id">Install</button>
        </li>
        <li class="list-group-item">
            <button class="btn btn-primary" type="button" value="/@DeploymentModule.Path/@DeploymentModule.TaskPath?task=@Templates.Uninstall&id=@Model.Id">Uninstall</button>
        </li>
        
        @foreach (var folder in Model.Folders)
        {
            <li class="list-group-item">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">@folder.Key</span>
                    <input id="@folder.Key" type="text" class="form-control" aria-describedby="basic-addon3" value="@folder.Value">
                    <span class="input-group-btn">
                        <button 
                            data-key="@folder.Key"
                            data-value="/@DeploymentModule.Path/@DeploymentModule.TaskPath?task=@Templates.MoveFolder&id=@Model.Id&FolderName=@folder.Key&FolderValue="
                            class="btn btn-primary" type="button">Move</button>
                    </span>
                </div>
            </li>
        }
    </ul>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        Diagnostics
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td><a href="/@FileModule.Path/build-log/@Model.Id">View Build Logs</a></td>
            </tr>
            <tr>
                <td><a href="/@FileModule.Path/backup/@Model.Id">View Backups</a></td>
            </tr>
            <tr>
                <td><b>State</b>: @Model.State</td>
            </tr>
        </tbody>


    </table>
    <div class="panel-footer">
    </div>
</div>


<script>
    $(document).ready(function () {
        var version = $('select[name=PackageVersion]');

        $('#btn-deploy')
            .click(function () {
                $.ajax({
                    url: '/@DeploymentModule.Path/@DeploymentModule.TaskPath?task=@Templates.Deploy&id=@Model.Id&Version=' + version.val(),
                    type: 'POST'
                });
            });

        $('button[value]').each(function () {
            $(this).bind('click', function () {
                $.ajax({
                    url: $(this).val(),
                    type: 'POST'
                });
            });
        });
        
        $('button[data-value]').each(function () {
            var key = $(this).attr("data-key");
            var folder = $('#' + key);
            $(this).bind('click', function () {
                $.ajax({
                    url: $(this).val() + folder.val(),
                    type: 'POST'
                });
            });
        });
    });
</script>
