@using Codestellation.Galaxy.WebEnd
@using Codestellation.Galaxy.WebEnd.Misc
@using Codestellation.Galaxy.WebEnd.Models
@using Nejdb.Bson

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.Deployment.DeploymentModel>
@{ Layout = "Master";}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Edit service</h3>
    </div>
</div>

<div class="row">
    <form class="form-horizontal" role="form" method="POST">
        @Html.LabeledDropDown(x => x.FeedId, Model.AllFeeds)
        @Html.LabeledTextBox(x => x.PackageId)
        @Html.LabeledTextBox(x => x.Group)
        @Html.LabeledTextBox(x => x.InstanceName)
        @Html.LabeledTextArea(x => x.KeepOnUpdate)

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-success" value="Submit" />
            </div>
        </div>
    </form>
    <script>
        $(document).ready(function() {
            validateWithBootstrap();
            $('form').validate({
                rules: {
                    ServiceName: {
                        required: true,
                        minlength: 5,
                        maxlength: 50
                    },
                    FeedId: {
                        required: true,
                    },
                    PackageName: {
                        required: true,
                        minlength: 5,
                        maxlength: 100
                    }
                }
            });
        });
    </script>
</div>
